extend ../../themes/admin/layout 

block content
  .container
      h2 App menus
      h4 Tabbar menu
      -var tindex = 0
      -var sindex = 0
      -var types=['Link to page','Menu header']
      -var icons = ["ion-monitor", "ion-play", "ion-images", "ion-map", "ion-gear-b","ion-music-note", "ion-radio-waves", "ion-earth", "ion-eye", "ion-person", "ion-location", "ion-link", "ion-chevron-left", "ion-information-circled", "ion-share"]

      table#tableTabbar.table.table-responsive
        thead: tr
          th #
          th Title
          th Links to
          th Icon
          th(colspan="4") Actions
        tbody
          each appmenu in appmenus
            if appmenu.menu=="tabbar"
              tr
                td=tindex=tindex+1
                td
                  input.inputTitle.form-control(type='text',value=appmenu.title)
                td
                  select.selectScreenID.form-control
                    each screen in screens
                      -var sel = appmenu.screenID==screen.id
                      option(selected=sel)=screen.id
                td
                  if appmenu.icon=="none"
                    button.btn.btn-default.btn-icon(type="button", data-toggle="modal", data-target="#iconsModal") Select icon
                  else
                    button.btn.btn-default.btn-icon(type="button", data-toggle="modal", data-target="#iconsModal")=appmenu.icon
                td
                  if appmenu.state=="enabled"
                    a.icon.ion-eye.state(href="#")
                  else
                    a.icon.ion-eye-disabled.state(href="#")
                td
                  a.icon.ion-arrow-up-a.up(href="#")
                td
                  a.icon.ion-arrow-down-a.down(href="#")
                td
                  a.icon.ion-trash-b.deleteRow(href="#")
          tr
            td
            td
              input.inputTitle.form-control(type='text', placeholder='Add New')
            td
              select.selectScreenID.form-control
                each screen in screens
                  option=screen.id
            td
              button.btn.btn-default.btn-icon(type="button", data-toggle="modal", data-target="#iconsModal") Select icon
            td
              a.icon.ion-plus.addNew(href="#")
            td
            td
            td
      hr
      h4 Side menu
      table#tableSidemenu.table.table-responsive
        thead: tr
          th #
          th Title
          th Type
          th Links to
          th Icon
          th(colspan="4") Actions
        tbody
          each appmenu in appmenus
            if appmenu.menu=="sidemenu"
              tr
                td=sindex=sindex+1
                td
                  input.inputTitle.form-control(type='text',value=appmenu.title)
                td
                  select.selectType.form-control
                    each type in types
                      -var tsel = appmenu.type==type
                      option(selected=tsel)=type
                td
                  select.selectScreenID.form-control
                    each screen in screens
                      -var sel = appmenu.screenID==screen.id
                      option(selected=sel)=screen.id
                td
                  if appmenu.icon=="none"
                    button.btn.btn-default.btn-icon(type="button", data-toggle="modal", data-target="#iconsModal") Select icon
                  else
                    button.btn.btn-default.btn-icon(type="button", data-toggle="modal", data-target="#iconsModal")=appmenu.icon
                td
                  if appmenu.state=="enabled"
                    a.icon.ion-eye.state(href="#")
                  else
                    a.icon.ion-eye-disabled.state(href="#")
                td
                  a.icon.ion-arrow-up-a.up(href="#")
                td
                  a.icon.ion-arrow-down-a.down(href="#")
                td
                  a.icon.ion-trash-b.deleteRow(href="#")
          tr
            td
            td
              input.inputTitle.form-control(type='text', placeholder='Add New')
            td
              select.selectType.form-control
                each type in types
                  option=type
            td
              select.selectScreenID.form-control
                each screen in screens
                  option=screen.id
            td
              button.btn.btn-default.btn-icon(type="button", data-toggle="modal", data-target="#iconsModal") Select icon
            td
              a.icon.ion-plus.addNew(href="#")
            td
            td
            td
      button#saveMenus.btn.btn-success Save
      hr
  .modal.fade(id="iconsModal", tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header(style="border-bottom:none; min-height:100px;")
          .container.col-md-12
            .row
              button.close(type="button", data-dismiss="modal", aria-label="Close")
                span(aria-hidden="true") &times;
            .row
              .col-md-6
                h4.modal-title(id="myModalLabel") Choose Icon
              .col-md-6
                button.btn.btn-default.iconSelect(style="float:right;",type="button", data-dismiss="modal", data-iconname="Select icon") No icon

        .modal-body
          each icon in icons
            a.icon.iconSelect(class=icon, style="font-size:40px; margin:30px; color:#676767;", href="#", data-dismiss="modal", data-iconname=icon)
block stylesheets

block scripts
  script(src="screens/js/jquery.rest.min.js")
  script.
    $(document).ready(function(){
        var lastIconButton;
        checkPosition();
        checktypes();
        $('#iconsModal').on('show.bs.modal', function (e) {
          lastIconButton=e.relatedTarget;
        });
        $('.modal').on("click",".iconSelect", function(e){
            e.preventDefault();
            $(lastIconButton).html($(this).attr('data-iconname'));
          });
        $("table").on("click",".deleteRow",function(e){
          e.preventDefault();
          var btn=$(this);
          var row = btn.parent().parent();
          row.remove();
          checkPosition();
        });
        $("table").on("click",".addNew",function(e){
          e.preventDefault();
          var row = $(this).parents("tr:first");
          row.after($(this).parents("tr:first").clone());
          row.children('td:first').text(row[0].rowIndex);
          row.children().last().remove();
          row.children().last().remove();
          row.children().last().remove();
          row.children().last().remove();
          row.append('<td><a href="#" class="icon ion-eye state"></a></td><td><a href="#" class="icon ion-arrow-up-a up"></a></td><td><a href="#" class="icon ion-arrow-down-a down"></a></td><td><a href="#" class="icon ion-trash-b deleteRow"></a></td>');
          row.next().find('.inputTitle').attr('placeholder','Add New').val('');
          row.next().find('.selectType').val('Link to page');
          row.next().find('.btn-icon').html('Select icon');
          row.next().find('.selectScreenID').attr('disabled',false);
          checkPosition();
        });
        $("table").on("click",".up",function(e){
          e.preventDefault();
          var row = $(this).parents("tr:first");
          row.insertBefore(row.prev());
          checkPosition();
        });
        $("table").on("click",".down",function(e){
          e.preventDefault();
          var row = $(this).parents("tr:first");
          row.insertAfter(row.next());
          checkPosition();
        });
        $("table").on("click",".state",function(e){
          e.preventDefault();
          if($(this).hasClass('ion-eye')){
            $(this).addClass('ion-eye-disabled')
            $(this).removeClass('ion-eye');
          } else {
            $(this).addClass('ion-eye')
            $(this).removeClass('ion-eye-disabled');
          }
        });
        $("table").on("change",".selectType",function(e){
          e.preventDefault();
          var row = $(this).parents("tr:first");
          if($(this).val()=='Menu header'){
            row.find('.selectScreenID').attr('disabled',true);
          } else {
            row.find('.selectScreenID').attr('disabled',false);
          }
        });
        function checktypes(){
          $('#tableSidemenu tr').each(function(index){
            if($(this).find('.selectType').val()=='Menu header'){
              $(this).find('.selectScreenID').attr('disabled',true);
            } else {
              $(this).find('.selectScreenID').attr('disabled',false);
            }
          });
        }
        function checkPosition(){
        var rowCountT = $('#tableTabbar tr').length - 3;
        var rowCountS = $('#tableSidemenu tr').length - 3;
        var rowsT = $('#tableTabbar tr').each(function(index){
          if($(this).index()!=rowCountT+1){
            $(this).children('td:first').text(index);
          }
          if(rowCountT==0){
            $(this).children().children('.up').hide();
            $(this).children().children('.down').hide();
          } else {
            if ($(this).index()==0){
              $(this).children().children('.up').hide();
              $(this).children().children('.down').show();
            } else {
              if ($(this).index()==rowCountT){
                $(this).children().children('.down').hide();
                $(this).children().children('.up').show();
              } else {
                $(this).children().children('.up').show();
                $(this).children().children('.down').show();
              }
            }
          }
        });
        var rowsS = $('#tableSidemenu tr').each(function(index){
          if($(this).index()!=rowCountS+1){
            $(this).children('td:first').text(index);
          }
          if(rowCountS==0){
            $(this).children().children('.up').hide();
            $(this).children().children('.down').hide();
          } else {
              if ($(this).index()==0){
                $(this).children().children('.up').hide();
                $(this).children().children('.down').show();
              } else {
                if ($(this).index()==rowCountS){
                  $(this).children().children('.down').hide();
                  $(this).children().children('.up').show();
                } else {
                  $(this).children().children('.up').show();
                  $(this).children().children('.down').show();
                }
              }
            }
          });
        };

    });
  script(src="menus/js/menueditor.js")



