extends layout

block title
  title Shovel apps CMS - #{__('Admin Panel')}

block stylesheets
  style.
    #downloadapkqrcode {
      height:150px;
      width:150px;
    }

block content
  
  .container
    .tab-pane.active#adminhome
      .container-fluid
        h2 #{__('App Admin Panel')}
        div
          p
            .btn-group
              // This button is disabled untile we can reach
              // shovelapps build platform. 
              a#build.disabled.btn.btn-default(href="#")
                span.btn-text #{__('Checking status')}
                span#upload-progress
              a.btn.btn-default(href="/package/download") #{__('Download')} #{__('app as HTML')}  
          p.lead
            a.hidden#downloadapklink #{__('Download')} #{__('Android binary')}
          div.text-center
            p.hidden#downloadapkqrcode
        .row
          .col-sm-6.hidden
            h3 #{__('Admin')}
            ul.list-group
              li.list-group-item
                a(data-toggle="tab",href="#users") #{__('User management')}             
        .row
          .col-sm-6
              h3 Data collections
              p
                a(href="/admin/datacollections/create") #{__('New')} #{__('Data Collection')}
              each datacollection in datacollections
                h4=datacollection.title
                a(href="/admin/datacollections/update/"+datacollection.name) #{__('Modify')} 
                | |  
                a(href="/admin/datacollections/delete/"+datacollection.name) #{__('Remove')}

block scripts
  script(src="/socket.io/socket.io.js")
  script(src="/coreassets/jquery.qrcode/jquery.qrcode.min.js")
  script(src="/shovelapps/shovelapps-cms.js")
  script.
    $(function() {
      setBuildByButton();
    });