extends layout

block title
  title #{__('Apps')} - #{__('Admin Panel')}

block stylesheets

block content

  .container

    .panel
      .row(style="margin-top:25px;")
        .col-xs-6.col-sm-offset-4.col-sm-2.col-md-offset-4.col-md-2.columns.text-right
          img.visible-xs.img-responsive.img-circle(align="right", src="/coreassets/img/avatar-male.png", style="height:102px;")
          img.hidden-xs.img-circle(align="right", src="/coreassets/img/avatar-male.png", style="height:132px;")
        .col-xs-6.col-sm-6.col-md-6.columns.text-left
          h4 
            b Fernando Sanz
          .label.label-default #{currentApps} #{__('apps used of')} #{availableApps} #{__('available')} 
          h5 Argentina
          h5 
            a(href="http://shovelapps.com") Shovelapps.com
          h5 "Brute force dev"
    
    .modal.fade#createapp-modal(tabindex="-1", role="dialog", aria-labelledby="createAppModalLabel")
      .modal-dialog
        .modal-content
          .modal-body
            button.close(type="button", data-dismiss="modal", aria-label="#{__('Close')}")
              span(aria-hidden="true") &times;
            p #{__('Insert the name for your new app')}
            div.form-inline(action="#")
              .form-group
                label(for="newapptitle")
                input.form-control#newapptitle(type="text", placeholder="#{__('apps name')}")
              button.btn.btn-success.live-btn#createApp
                i.icon.ion-arrow-right-a 
                |  #{__('Create!')}

    .hide
      .col-xs-12
    .panel.text-center
      h2 #{__('My')} #{__('Apps')}
      .row.text-center
        each component in components
          .col-xs-12.col-sm-3.col-md-3.columns
            .well(style="background-color:#eee; height:128px;")
              h3 #{component.name}
        .col-xs-12.col-sm-3.col-md-3.columns(data-toggle="modal", data-target="#createapp-modal")
          .well(style="background-color:#eee; height:128px;")
            h3 #{__("Create a new app")}

block scripts
  script.
    $(function(){
      $('#createApp').bind('click',function(e){
        console.log('clic');
        var name = $('#newapptitle').val();
        window.location = '/admin/app/' + name;
      })
    });

