extends layout

block title
  title #{__(componentType)} - #{__('Admin Panel')}

block stylesheets
  link(href="/coreassets/jsoneditor/jsoneditor.css", rel="stylesheet")
  style.
    .menu button.collapse-all,.menu button.expand-all{
    	display:none;
    }

block content
  .container
    h2 #{__('Manage')} #{__(componentType)}#{__(':')} #{component[0].name}
    #alerts
    .row
      #jsoneditor.col-sm-12(style="margin-bottom:15px;")
      .col-sm-12
        button.btn.btn-success.live-btn.save
          i.icon.ion-checkmark
          |  #{__('Save')}
  .alert.alert-message(role="alert")

block scripts
  script(src="/coreassets/jsoneditor/jsoneditor.min.js")
  script.
    $(function() {
      // create the editor
      var options = {
          "mode": "form",
          "search": false,
          "name": "Config"
      };
      var container = document.getElementById("jsoneditor");
      var editor = new JSONEditor(container, options);
      // set json
      var json = !{JSON.stringify(component[0].config)};
      editor.set(json);
      // get json
      $('.save').bind('click', function(){
        $.ajax({
          url: '/admin/' + componentType + '/config/#{component[0].name}',
          type: "POST",
          data: JSON.stringify(editor.get()),
          contentType: "application/json",
          complete: function(response){
          	var alert = $(".alert-message").clone().removeClass('alert-message');
            if(response.responseText=='ok'){
              $(alert).addClass('alert-success').html('<i class="icon ion-checkmark-circled"/> #{__('Configuration successfully saved')}').appendTo('#alerts').alert();
            }else{
              $(alert).addClass('alert-danger').html('<i class="icon ion-alert-circled"/> #{__('Error ocurred while saving configuration')}').appendTo('#alerts').alert();
            }
            $(alert).delay(1500).fadeOut();
          }
        })
      });
    });
