extends layout

block title
  title Editing =datacollection.title

block stylesheets
  link(rel="stylesheet",href="/coreassets/medium-editor/medium-editor.min.css")
  link(rel="stylesheet",href="/coreassets/medium-editor/bootstrap.min.css")

block content
  .container
    h2 #{__('Editing')} #{__('Data Collection')}
    p
      strong #{__('Page')}  
      span#title.editable-inline!=datacollection.title
    p
      strong #{__('Slug')}: #
      span#slug.editable-inline!=datacollection.slug
    p
      strong Weight: 
      span#menuWeight.editable-inline
        if datacollection.menuWeight
          !=datacollection.menuWeight
        else
          !=5
    p       
      a.btn.btn-danger.pull-left(href="/admin/datacollections/delete/#{datacollection._id}")#remove
        i.icon.ion-trash-b
        |  #{__('Remove')} #{__('this datacollection')} 
      a#save.btn.btn-success.pull-right(href="#") 
        i.icon.ion-checkmark
        |  #{__('Save')}

block scripts
  
  script(src="/coreassets/medium-editor/medium-editor.min.js")
  script(src="/coreassets/medium-editor/MediumButton.min.js")
  script(src="/coreassets/ace/ace.js")
  
  // Set current datacollection id in browser javascript
  script.
    window.datacollectionId="#{datacollection._id}"
  script.
    initEditor();   

   