extends layout

block title
  title Editing =datacollection.title

block content
  .tab-pane.active
    // In this template, we check if the html content is empty
    // and we asume it's a newly created datacollection. So in this case,
    // I add div.container-fluid, div.row and div.col-xs-12 as a basis
    // for the .editable 

    div.editable#html
      if datacollection.html == ""
        div.container-fluid
          div.row
            div.col-xs-12!=datacollection.html
      else
        !=datacollection.html
block navbar-buttons
  a#save.btn.btn-success.navbar-btn(href="#") Save
  a.btn.btn-default.navbar-btn(href="/admin")#adminhome Admin Home
  p.navbar-text
    a(href="/") Back to the frontend
  p.navbar-text
    strong Page  
    span#title.editable-inline!=datacollection.title
  p.navbar-text
    strong Slug: #
    span#slug.editable-inline!=datacollection.slug
  p.navbar-text
    strong Weight: 
    span#menuWeight.editable-inline
      if datacollection.menuWeight
        !=datacollection.menuWeight
      else
        !=5
  ul.nav.navbar-nav.navbar-right          
    li
      a(href="/admin/datacollections/delete/#{datacollection._id}")#remove Remove this datacollection

block stylesheets
  link(rel="stylesheet",href="/assets/medium-editor/medium-editor.min.css")
  link(rel="stylesheet",href="/assets/medium-editor/bootstrap.min.css")

block scripts
  
  script(src="/assets/medium-editor/medium-editor.min.js")
  script(src="/assets/medium-editor/MediumButton.min.js")
  script(src="/assets/ace/ace.js")
  
  // Set current datacollection id in browser javascript
  script.
    window.datacollectionId="#{datacollection._id}"
  script.

   