.navmenu.navmenu-inverse.navmenu-fixed-left.offcanvas-sm
  a.navmenu-brand.visible-md.visible-lg(href="#")
    img(src="/coreassets/img/shovelapps-logo.png",style="width:32px")
    | Shovelapps
  ul.nav.navmenu-nav
    li.active
      a(href="/admin")
        i.icon.ion-speedometer
        |  #{__('Dashboard')}
    li.dropdown
      a.dropdown-toggle(data-toggle="dropdown")
        i.icon.ion-code
        |  #{__('Plugins')}
        b.caret
      ul.dropdown-menu.navmenu-nav
        li.dropdown-header #{__('Manage current plugins or add a new one')}
        li.divider
        li
          a(href="/admin/plugins") #{__('Manage plugins')}
        li
          a(href="/admin/plugins") #{__('Add new plugin')}
    li.dropdown
      a.dropdown-toggle(data-toggle="dropdown")
        i.icon.ion-filing
        |  #{__('Data Collections')}
        b.caret    
      ul.dropdown-menu.navmenu-nav
        li.dropdown-header #{__('Manage or add data collections')}
        li.divider
        li
          a(href="/admin/datacollections/") #{__('View Collections')}
        li
          a(href="/admin/datacollections/create") #{__('Add Data Collection')}
    li.divider
    li.dropdown
      a.dropdown-toggle(href="#", data-toggle="dropdown") 
        i.icon.ion-person-stalker
        |  #{__('Users')}
        b.caret
      ul.dropdown-menu.navmenu-nav
        li.dropdown-header #{__('Here you can add or manage users')}
        li.divider
        li
          a 
            i.icon.ion-user-group
            |  #{__('Manage users')}
          a 
            i.icon.ion-user-add
            |  #{__('Add new user')}
    li.bg-lightgrey
      a(href="/admin/build")
        i.icon.ion-cube
        |  #{__('Build')}
    li
      a(href="/") 
        i.icon.ion-arrow-return-left
        |  #{__('Preview/Edit app')}
    li
      a(href="/logout") 
        i.icon.ion-log-out
        |  #{__('Logout')}
.navbar.navbar-inverse.navbar-fixed-top.hidden-md.hidden-lg
  button.navbar-toggle(type="button", data-toggle="offcanvas", data-target=".navmenu", data-canvas=".container")
    span.icon-bar
    span.icon-bar
    span.icon-bar
  a.navbar-brand(href="#", style="margin:0 50px 0 50px; padding: 10px")
    img(src="/coreassets/img/shovelapps-logo.png",style="width:32px; display:inline;")
    span Shovel Apps
