block sidebar
  .navmenu.navmenu-inverse.navmenu-fixed-left.offcanvas-sm
    a.navmenu-brand.visible-md.visible-lg(href="#")
      img(src="/coreassets/img/logo-shovel-2-sm.png",style="width:200px")
    ul.nav.navmenu-nav
      block sidemenu
        li.active
          a(href="/admin")
            i.icon.ion-speedometer
            |  #{__("Dashboard")}
            //|  #{appl.locals.activeApp} #{__("Dashboard")}
        li.dropdown
          a.dropdown-toggle(data-toggle="dropdown")
            i.icon.ion-code
            |  #{__('Plugins')}
            b.caret
          ul.dropdown-menu.navmenu-nav
            li.dropdown-header #{__('Manage current plugins or add a new one')}
            li.divider
            li
              a(href="/admin/plugins") #{__('Manage plugins')}
            li
              a(href="/admin/plugins") #{__('Add new plugin')}
        li.divider
        li.dropdown
          a.dropdown-toggle(data-toggle="dropdown")
            i.icon.ion-code-working
            |  #{__('Templates')}
            b.caret
          ul.dropdown-menu.navmenu-nav
            li.dropdown-header #{__('Manage current templates or add a new one')}
            li.divider
            li
              a(href="/admin/templates") #{__('Manage templates')}
            li.hidden
              a(href="/admin/templates") #{__('Add new template')}
        li.divider
        li.dropdown.hidden
          a.dropdown-toggle(href="#", data-toggle="dropdown") 
            i.icon.ion-person-stalker
            |  #{__('Users')}
            b.caret
          ul.dropdown-menu.navmenu-nav
            li.dropdown-header #{__('Here you can add or manage users')}
            li.divider
            li
              a 
                i.icon.ion-user-group
                |  #{__('Manage users')}
              a 
                i.icon.ion-user-add
                |  #{__('Add new user')}
        li.bg-lightgrey
          a(href="/admin/build")
            i.icon.ion-cube
            |  #{__('Build')}
        li
          a(href="/") 
            i.icon.ion-arrow-return-left
            |  #{__('Preview/Edit app')}
        li.divider
        each item in menus.admin
          li
            a(href="#{item.href}")
              if item.icon
                i(class="icon #{item.icon}")
              else 
                i.icon.ion-navicon
              | 
              | #{item.title}
        li
          a(href="/logout") 
            i.icon.ion-log-out
            |  #{__('Logout')}
        li.dropdown.hidden(style="margin-top:45px;")
          a.dropdown-toggle(data-toggle="dropdown", style="color: #ec1164;")
            i.icon.ion-cube
            |  #{__('My ShovelApps')} 
            span.label.label-secondary
              span #{locals.apps.length} / 
              span #{locals.config.availableApps}
            b.caret
          ul.dropdown-menu.navmenu-nav
            li.dropdown-header #{__('Manage other apps or create new ones')}
            li.divider
            li
              a(href="/admin/apps") #{__('Switch app')}
            li
              a(href="/admin/apps") #{__('Go to apps manager')}

  .navbar.navbar-fixed-top.hidden-md.hidden-lg.navbar-inverse
    button.navbar-toggle(type="button", data-toggle="offcanvas", data-target=".navmenu", data-canvas=".container")
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand(href="#", style="margin:0 50px 0 50px; padding: 12px")
      img(src="/coreassets/img/logo-shovel-2-sm.png",style="width:200px; display:inline;")
