extends layout

block title
  title Shovel apps CMS - #{__('Admin Panel')}

block stylesheets

block content
  .container-fluid.bg-white.cms(role='main')
    .header.center-block.row.voffset6.text-left
      .col-md-6.col-md-offset-2
        h2 El meme
    .row.text-left.no-margin
      .col-md-4.col-sm-5.col-sm-offset-1.col-md-offset-2
        .panel-group.shovel-group-panel
          .panel.panel-default.open
            .panel-heading(href='#Content', data-toggle='collapse')
              h5.panel-title
                i.open.pull-right
                img(src='/coreassets/assets/content-icon.svg')
                | #{__('Content')}
            #Content.panel-collapse.collapse.in.align-img
              .list-group
                a.list-group-item(href='/admin/screens')
                  h6 #{__('Screens manager')}
                  p.ellipsis #{__("Create your app's screns and manage them")}...
                a.list-group-item(href='#')
                  h6 #{__('Categories manager')}
                  p.ellipsis #{__('Manage your content')}
                a.list-group-item(href='/admin/menus')
                  h6 #{__('Menu manager')}
                  p.ellipsis #{__("Manage your menu's content by")} ...
          .panel.panel-default.open
            .panel-heading(href='#Plugins', data-toggle='collapse')
              h5.panel-title
                i.open.pull-right
                img(src='/coreassets/assets/plugin-dashboard.svg')
                | #{__('Plugins')}
            #Plugins.panel-collapse.collapse.in.align-img
              .list-group
                a.list-group-item(href='/admin/plugins')
                  h6 #{__('Plugins manager')}
                  p.ellipsis #{__('Upload your own plugins or add them from market...')}
          .panel.panel-default.open
            .panel-heading(href='#Themes', data-toggle='collapse')
              h5.panel-title
                i.open.pull-right
                img(src='/coreassets/assets/themes-dashboard.svg')
                | #{__('Themes')}
            #Themes.panel-collapse.collapse.in.align-img
              .list-group
                a.list-group-item(href='/admin/themes')
                  h6 #{__('Themes manager')}
                  p.ellipsis #{__('Upload your own themes or add them from market...')}
      .col-md-4.col-sm-5.col-md-offset-1
        .panel-group.shovel-group-panel
          .panel.panel-default.open
            .panel-heading(href='#Publish', data-toggle='collapse')
              h5.panel-title
                i.open.pull-right
                img(src='/coreassets/assets/rocket-dashboard.svg')
                | #{__('Publish')}
            #Publish.panel-collapse.collapse.in.align-img
              .list-group
                a.list-group-item(href='#')
                  h6 #{__('Build')}
                  p.ellipsis #{__('Manage your content')}.
                a.list-group-item(href='/admin/build')
                  h6 #{__('Publish app')}
                  p.ellipsis #{__('Manage your content')}
                a.list-group-item(href='#')
                  h6 #{__('Add / Edit icon')}
                  p.ellipsis #{__('Manage your content')}
          .panel.panel-default.open
            .panel-heading(href='#Settings', data-toggle='collapse')
              h5.panel-title
                i.open.pull-right
                img(src='/coreassets/assets/settings-dashboard.svg')
                | #{__('Settings')}
            #Settings.panel-collapse.collapse.in.align-img
              .list-group
                a.list-group-item(href='#')
                  h6 #{__('Change app name')}
                  p.ellipsis #{__('Manage your content')}.
                a.list-group-item(href='#')
                  h6 #{__('Delete app')}
                  p.ellipsis #{__('Manage your content')}.

block scripts
