extends layout

block head
  // In order for assets to load as they would module.loaded
  // insider file://
  base(href="/")

block title
  title #{__('Editing')} #{screen.title}

block content
  #humancode.tab-pane.active
    // In this template, we check if the html content is empty
    // and we asume it's a newly created screen. So in this case,
    // I add div.container-fluid, div.row and div.col-xs-12 as a basis
    // for the .editable 

    div.editable#html
      if screen.html == ""
        div.container-fluid
          div.row
            div.col-xs-12!=screen.html
      else
        !=screen.html
  #sourcecodetab.tab-pane(style="height:100%;width:100%")
    div#sourcecode(style="height:100%;width:100%")=screen.html
  //
    .toolbar(style="position:absolute;top:0;left:0;width:100%;height:40px;background:black")
      button(data-command-name='bold') #{__('Bold')}
      button(data-command-name='italic') #{__('Italic')}
      button(data-command-name='strikeThrough') #{__('Strike Through')}
      button(data-command-name='removeFormat') #{__('Remove Formatting')}
      button(data-command-name='linkPrompt') #{__('Link')}
      button(data-command-name='unlink') #{__('Unlink')}
      button(data-command-name='insertOrderedList') #{__('Ordered List')}
      button(data-command-name='insertUnorderedList') #{__('Unordered List')}
      button(data-command-name='indent') #{__('Indent')}
      button(data-command-name='outdent') #{__('Outdent')}
      button(data-command-name='blockquote') #{__('Blockquote')}
      button(data-command-name='code') #{__('Code')}
      button(data-command-name='h2') #{__('H2')}
      button(data-command-name='undo') #{__('Undo')}
      button(data-command-name='redo') #{__('Redo')}
block navbar-buttons
  ul.nav.navbar-nav
    li
      a(href="/") #{__('Back to the frontend')}
    li
      p.navbar-btn
        a#save.btn.btn-success.navbar-btn.navbar-left(href="#") Save
    li
      a(href="/admin")#adminhome #{__('Admin Home')}
    li
      a.active(data-toggle="tab",href="#humancode") #{__('Human')}
    li
      a(data-toggle="tab",href="#sourcecodetab") &lt;&gt;
  p.navbar-text
    strong #{__('Page')}  
    span#title.editable-inline!=screen.title
  p.navbar-text
    strong #{__('Slug')}: #
    span#slug.editable-inline!=screen.slug
  p.navbar-text
    strong #{__('Weight')}: 
    span#menuWeight.editable-inline
      if screen.menuWeight
        !=screen.menuWeight
      else
        !=5

  ul.nav.navbar-nav.navbar-right          
    li
      a(href="/admin/screens/delete/#{screen._id}")#remove #{__('Remove this screen')} 

block stylesheets
  link(rel="stylesheet",href="/coreassets/medium-editor/medium-editor.min.css")
  link(rel="stylesheet",href="/coreassets/medium-editor/bootstrap.min.css")

block scripts
  
  script(src="/coreassets/medium-editor/medium-editor.min.js")
  script(src="/coreassets/medium-editor/MediumButton.min.js")

  // Set current screen id in browser javascript
  script.
    window.screenId="#{screen._id}"
  script(src="/coreassets/require/require.js")
  script(src="/coreassets/bower_components/scribe/scribe.min.js")
  script(src="/coreassets/bower_components/scribe-plugin-smart-lists/scribe-plugin-smart-lists.min.js")
  script(src="/coreassets/bower_components/scribe-plugin-toolbar/scribe-plugin-toolbar.js")
  script(src="/coreassets/bower_components/scribe-plugin-link-prompt-command/scribe-plugin-link-prompt-command.js")
  script(src="/coreassets/ace/ace.js")
  script(src="/coreassets/ace/mode-html.js")
  script(src="/coreassets/ace/theme-monokai.js")
  script(src="/coreassets/ace/worker-html.js")
  script(src="/coreassets/shovelapps/editor.js")

