extends layout

block title
  title Shovel apps CMS - #{__('Settings')}


block content
  .container-fluid.bg-white.cms.settingsapp(role='main')
    .header.center-block.row.voffset6
      a.back-button.pull-left(href='#')
    .shovel-tabs.col-md-8.col-md-offset-2
      ul.nav.nav-tabs
        li.nav.active
          a(href='#AppSettings', data-toggle='tab') #{__('App\'s Settings')}
        li.nav
          a(href='#AccessManagment', data-toggle='tab') #{__('Access Managment')}
      .tab-content.tab-content-padding.text-left
        #AppSettings.tab-pane.fade.active.in
          .row.shovel-tabs-vertical
            .col-md-3.col-md-offset-1
              ul.nav.nav-tabs
                li.nav.active
                  a(href='#ChangeAppName', data-toggle='tab') #{__('Change App\'s name')}
                li.nav
                  a(href='#ChangeAppIcon', data-toggle='tab') #{__('Change App\'s icon')}
            .col-md-4.col-md-offset-1.tab-content
              #ChangeAppName.tab-pane.fade.active.in
                input.shovel-control(type='text', placeholder="#{__('App Name')}", value='#{locals.config.app.appName}')
                input.shovel-control(type='password', placeholder='#{__("Password *")}')
                p.message
                  span.text-primary *
                  |  #{__('Set your password to confirm changes.')}
              #ChangeAppIcon.tab-pane.fade
                .attach-icon
                  input(type='file', accept='image/*')
                  img(src="/coreassets/assets/elmeme.jpg")
                  span
                    i.glyphicon.glyphicon-upload
                  p #{__('Upload icon')}
                input.shovel-control(type='password', placeholder='#{__("Password *")}')
                p.message
                  span.text-primary *
                  |  #{__('Set your password to confirm changes.')}
        #AccessManagment.tab-pane.fade
          .row.shovel-tabs-vertical
            .col-md-3.col-md-offset-1
              ul.nav.nav-tabs
                li.nav.active
                  a(href='#InviteNewUser', data-toggle='tab') #{__('Invite new user')}
                li.nav
                  a(href='#UserManagment', data-toggle='tab') #{__('User\'s managment')}
            .col-md-4.col-md-offset-1.tab-content
              #InviteNewUser.tab-pane.fade.active.in
                input.shovel-control(type='text', placeholder='#{__("New user")}')
                input.shovel-control(type='text', placeholder='#{__("Email")}')
                input.shovel-control(type='password', placeholder='#{__("Password *")}')
                a.addNewUser(href='#')
                  span
                    i.glyphicon.glyphicon-user
                  | #{__('Add new user')}
                p.message
                  span.text-primary *
                  |  #{__('Set your password to confirm changes.')}
              #UserManagment.tab-pane.fade
                label
                  input(type='checkbox')
                  |  #{__('Modify only one screen')}
                label
                  input(type='checkbox')
                  |  #{__('Modify only one category')}
                label
                  input(type='checkbox')
                  |  #{__('Content managment only')}
                label
                  input(type='checkbox')
                  |  #{__('Admin')}
                label
                  input(type='checkbox')
                  |  #{__('Publish manager')}


block scripts
  script.
    window.location.hash.indexOf("#access") !== -1 && $('.nav-tabs a[href="#AccessManagment"]').tab('show');;