extends ../../templates/admin/layout.jade

block title
  title Shovel apps CMS - #{__('Admin Panel')}

block stylesheets
  style.
    #downloadapkqrcode {
        }
    .modal-dialog{
      margin-top: 75px;
    } 

block content
  
  .container
    .row
      .col-lg-12
        h1 #{__('Build!')}
    .row
      .col-lg-12
        .well
          p #{__('Here you can build and rebuild your app as many times as you need')}

        div.col-xs-6
          // This button is disabled untile we can reach
          // shovelapps build platform. 
          a#build.disabled.btn.btn-default.btn-lg.btn-block.live-btn(href="#")
            i.icon.ion-social-android
            span.hidden-xs.btn-text #{__('Checking status')}
            span.visible-xs.btn-text #{__('...')}
            span#upload-progress
          a.btn.btn-default.btn-lg.btn-block.text-center.live-btn(href="/package/download")
            i.icon.ion-code-download
            span.hidden-xs #{__('Download')} #{__('app as HTML')}
            span.visible-xs #{__('Get ')} #{__('HTML')}   
          a.btn.btn-default.btn-lg.btn-block.hidden#downloadapklink 
            span.hidden-xs #{__('Download')} #{__('Android binary')}          
            span.visible-xs 
              #{__('Download')} 
              i.icon.ion-social-android
              |  #{__('Build')}          
        div.col-xs-6.text-center#latestbuild
          p#downloadapkqrcode
            img.img-responsive(src="/coreassets/img/qr-placeholder.png", width="200")

      .col-lg-12.col-sm-12.col-xs-12

        h2 #{__('Previous builds')}
        .row
          table.table.table-responsive
            thead
            tbody
              each build in builds
                tr
                  td.col-xs-2.hidden-xs
                    .label.label-default= build.date
                  td
                    a.label.label-primary
                      i.icon.ion-pound
                      |  #{build.buildIdShort}
                  td.text-right
                    if build.built == 1
                      a.label.label-primary(href="#{build.apkUrl}", target="_blank", title="#{__('Download')} .apk")
                        i.icon.ion-android-download
                        |  #{__('Download')}
                      a.label.label-info(data-toggle="modal", data-target="#qr-modal", data-uri=build.apkUrl, data-buildid=build.buildId)
                        i.icon.ion-qr-scanner
                        |  #{__('Display QR')}
                    else
                      .label.label-danger #{__('Not built')}

    .modal.fade#qr-modal(tabindex="-1", role="dialog", aria-labelledby="qrModalLabel")
      .modal-dialog.modal-sm
        .modal-content
          .modal-body
            button.close(type="button", data-dismiss="modal", aria-label="#{__('Close')}")
              span(aria-hidden="true") &times;
            p #{__('Scan this QR code to install this build in your device, or download to use wherever you need.')}
            .text-center
              #modal-qr-container
              small#modal-build-id
             

block scripts
  script(src="/socket.io/socket.io.js")
  script(src="/coreassets/jquery.qrcode/jquery.qrcode-0.11.0.js")
  script(src="/shovelapps/shovelapps-cms.js")
  script.
    $(function() {
      setBuildByButton();
      $('#qr-modal').on('shown.bs.modal', function (e) {
        $("#modal-build-id").html($(e.relatedTarget).data('buildid'));
        $("#modal-qr-container").html('')
        .qrcode({
          "color": "#3a3",
          "text": $(e.relatedTarget).data('uri')
        });
      });
    });