extends ../../templates/admin/layout.jade

block title
  title Shovel apps CMS - #{__('Admin Panel')}

block stylesheets
  style.
    #downloadapkqrcode {
        }
    .modal-dialog{
      margin-top: 75px;
    } 

block content
  
  .container
    .row
      .col-lg-12
        h1 #{__('Build!')}
    .row
      .col-lg-12
        .well
          p #{__('Here you can build and rebuild your app as many times as you need')}

        div.col-xs-6
          // This button is disabled untile we can reach
          // shovelapps build platform. 
          a#build.disabled.btn.btn-default.btn-lg.btn-block.live-btn(href="#")
            span.btn-text #{__('Checking status')}
            span#upload-progress
          a.btn.btn-default.btn-lg.btn-block.live-btn(href="/package/download")
            i.icon.ion-code-download
            |  #{__('Download')} #{__('app as HTML')}  
          a.btn.btn-default.btn-lg.btn-block.hidden#downloadapklink #{__('Download')} #{__('Android binary')}          
        div.col-xs-6.text-center#latestbuild
          p#downloadapkqrcode
            img.img-responsive(src="/coreassets/img/qr-placeholder.png", width="200")

      .col-lg-12.col-sm-12.col-xs-12

        h2 #{__('Previous builds')}
        .row
          each build in builds
            .col-xs-12.col-sm-4.col-lg-4
              .col-xs-12.text-center
                .well(data-uri=build.apkUrl)                  
                  div= build.date
                  a(href="#{build.apkUrl}", target="_blank", title="#{__('Download')} .apk")
                    button.btn.btn-small.btn-default.btn-block(role="button")
                      i.icon.ion-android-download
                      |  #{__('Download')}
                  button.btn.btn-small.btn-default.btn-block(role="button", data-toggle="modal", data-target="#qr-modal", data-uri=build.apkUrl, data-buildid=build.buildId)
                    i.icon.ion-qr-scanner
                    |  #{__('View QR')}

    .modal.fade#qr-modal(tabindex="-1", role="dialog", aria-labelledby="qrModalLabel")
      .modal-dialog.modal-sm
        .modal-content
          .modal-body
            button.close(type="button", data-dismiss="modal", aria-label="#{__('Close')}")
              span(aria-hidden="true") &times;
            p #{__('Scan this QR code to install this build in your device, or download to use wherever you need.')}
            .text-center
              #modal-qr-container
              small#modal-build-id
             

block scripts
  script(src="/socket.io/socket.io.js")
  script(src="/coreassets/jquery.qrcode/jquery.qrcode-0.11.0.js")
  script(src="/shovelapps/shovelapps-cms.js")
  script.
    $(function() {
      setBuildByButton();
      $('#qr-modal').on('shown.bs.modal', function (e) {
        $("#modal-build-id").html($(e.relatedTarget).data('buildid'));
        $("#modal-qr-container").html('')
        .qrcode({
          "color": "#3a3",
          "text": $(e.relatedTarget).data('uri')
        });
      });
    });